CodeForces/Contests/Codeforces Round #853 (Div. 2)/contest_1789/C_Serval_and_Toxel_s_Arrays.cpp
CodeForces/Contests/Codeforces Round #853 (Div. 2)/contest_1789/D_Serval_and_Shift_Shift_Shift.cpp
CodeForces/Contests/Codeforces Round #853 (Div. 2)/contest_1789/E_Serval_and_Music_Game.cpp
CodeForces/Contests/Codeforces Round #853 (Div. 2)/contest_1789/F_Serval_and_Brain_Power.cpp
